<main class="form-secrets">
<form method="POST" action="?action=add_secret">
	<div class="form-floating">
    
    <input type="text" class="form-control" id="secretname"  name="secretname">
    <label for="secretname" class="form-label">Название:</label>
    </div>
	<div class="form-floating">
    
    <input type="text" class="form-control" id="secretvalue"  name="secretvalue">
    <label for="secretvalue" class="form-label">Значение:</label>
  </div>
	<div class="form-floating">
    <textarea class="form-control" name="secretdescription" id="secretdescription" rows="40">
        
    </textarea>
    <label for="secretdescription" class="form-label">Описание:</label>
  </div>
  
	<input   class="w-100 btn btn-lg btn-primary"  type="submit" name="add_secret" value="Добавить">
</form>
</main>