<!--
<form method="post" action="?action=login" id="login_form">
	<label for="user_login">Логин: </label><input type="text" name="user_login" id="user_login"> <br>
	<label for="password">Пароль: </label><input type="password" name="password" id="password"> <br>
	<input type="submit" name="login">
</form>
-->
<main class="form-signin">
  <form method="post" action="?action=login" id="login_form">
    <h1 class="h3 mb-3 fw-normal">Пожалуйста, войдите</h1>

    <div class="form-floating">
      <input type="text" class="form-control" id="user_login" name="user_login">
      <label for="user_login">Логин:</label>
    </div>
    <div class="form-floating">
      <input type="password" class="form-control" id="password" name="password">
      <label for="floatingPassword">Пароль</label>
    </div>
    <input  class="w-100 btn btn-lg btn-primary" type="submit" name="login">
  </form>
</main>